<div class="container-fluid">
  <div class="row">

    <div class="col-1 sidebar">
      <div style="border-radius: 2px; width: 90px; height: 90px ; padding-top: 80px;">
        <img src="assets\images\sidebar.png" alt="sideBar img">
      </div>
      <!-- Sidebar content goes here -->
    </div>

    <div class="col">
      <nav class="navbar">
        <div class="logo">
          <img src="assets\images\stryker_icon.png" alt="Logo">
        </div>

        <div> <input class="form-control inp " type="search" placeholder="Search" aria-label="Search">
        </div>


        <button class="btn btn-secondary dropdown-toggle  dropdown" type="button" data-bs-toggle="dropdown"
          aria-expanded="false">
          Create
        </button>

        <div class="d-flex justify-content-end align-items-center">
          <div class="notification me-3">
            <img src="assets/images/bell.gif" alt="User Avatar" class="rounded-circle">
            <span class="badge bg-danger badge-top-right">3</span>
          </div>

          <div class="avatar">
            <img src="assets\images\avatar.jpg" alt="User Avatar" class="rounded-circle">
            <span class="admin-text">Admin</span>
          </div>

          <div class="settings me-3">

          </div>
        </div>

        

        <ul class="nav-links">
        </ul>
      </nav>
  </div>

  <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">
    <div>
      <div class="card">
        <div class="card-body">
          <div style="display: flex;">
            <img class="alertimg" src="assets/images/menu.png" alt="" height="30px" width="30px" alt=""
              style="margin-top: 2px 2px padding-top=20px">
            <!-- <h3 style="font-weight: bold;">Alerts</h3> -->
            <b class="fo">Alerts</b>
          </div>

          <div class="div1" style="display: flex;">
            <input class="form-control inpp " type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-warning item"><img class="searchimg" src="assets/images/search.png" alt=""></button>
          </div>

          <div>
            <nav class="navbar navbar-expand-lg bg-body- navbarr">
              <div class="container-fluid">
             
                <div class="collapse navbar-collapse" id="navbarNavDropdown">
                  <ul class="navbar-nav">
                    <li class="nav-item">
                      <a class="nav-link active allreq" aria-current="page" href="#">All Request 
                        <span class="badge bg-primary">3</span></a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" href="#">Demo Request
                        <span class="badge bg-primary">3</span>
                      </a>
                    </li>
                  
                  </ul>
                </div>
              </div>
            </nav>
          </div>

         
         
          <h5 class="card-title">Special title treatment</h5>
          <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
          <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
      </div>
    </div>












     
 